@page "/admin"
@using HengcordTCG.Blazor.Client.Pages.Admin.Components
@using HengcordTCG.Blazor.Client.Pages.Admin.Modals

<PageTitle>Admin - HengcordTCG</PageTitle>

<div class="container py-8">
    <h1 class="text-3xl font-bold text-white mb-8">Admin Panel</h1>

    <div class="border-b border-slate-700 mb-6">
        <div class="flex space-x-1">
            <button @onclick='() => SetTab("cards")' class="@TabClass("cards")">
                <i class="fa fa-images mr-2"></i> Cards
            </button>
            <button @onclick='() => SetTab("packs")' class="@TabClass("packs")">
                <i class="fa fa-box mr-2"></i> Packs
            </button>
            <button @onclick='() => SetTab("users")' class="@TabClass("users")">
                <i class="fa fa-users mr-2"></i> Users
            </button>
            <button @onclick='async () => await SetTabAsync("wiki")' class="@TabClass("wiki")">
                <i class="fa fa-book mr-2"></i> Wiki
            </button>
        </div>
    </div>

    @if (_tab == "cards")
    {
        <CardTab Cards="_cards" ApiBaseUrl="@ApiBaseUrl" OnAddCard="OpenAddCard" OnEditCard="OpenEditCard" OnDeleteCard="ConfirmDeleteCard" />
    }

    @if (_tab == "packs")
    {
        <PackTab Packs="_packs" OnAddPack="OpenAddPack" OnEditPack="OpenEditPack" OnTogglePack="TogglePack" />
    }

    @if (_tab == "users")
    {
        <UserTab Users="_users" OnEditGold="OpenEditGold" OnAddAdmin="AddAdmin" OnRemoveAdmin="RemoveAdmin" />
    }

    @if (_tab == "wiki")
    {
        <WikiTab 
            @bind-SubTab="_wikiTab" 
            WikiPages="_wikiPages" 
            Proposals="_proposals"
            OnCreatePage="OpenCreateWikiPage"
            OnLoadProposals="LoadProposalsAndSetTab"
            OnEditPage="OpenEditWikiPage"
            OnDeletePage="ConfirmDeleteWikiPage"
            OnViewProposal="ViewProposal"
            OnApproveProposal="ApproveProposal"
            OnRejectProposal="OpenRejectProposal" />
    }
</div>

<CardModal 
    Show="_showCardModal" 
    Form="_cardForm" 
    Card="_editingCard" 
    Packs="_packs"
    ApiBaseUrl="@ApiBaseUrl"
    OnSave="SaveCard" 
    OnCancel="CloseCardModal" 
    OnImageUpload="HandleCardImageUpload" />

<PackModal 
    Show="_showPackModal" 
    Form="_packForm" 
    Pack="_editingPack"
    OnSave="SavePack" 
    OnCancel="ClosePackModal" />

<GoldModal 
    Show="_showGoldModal" 
    User="_editingUser" 
    @bind-Amount="_goldAmount"
    OnClose="CloseGoldModal" 
    OnSetGold="SetGold" 
    OnAddGold="AddGold" />

<ProposalModal 
    Show="_showProposalModal" 
    Proposal="_viewingProposal"
    OnClose="CloseProposalModal" 
    OnApprove="ApproveProposalFromModal" 
    OnRejectWithReason="RejectProposalWithReason" />


<ConfirmDialog 
    Show="_showDeleteCardModal" 
    Title="Delete Card" 
    Message="Are you sure you want to delete card:"
    ItemName="_deletingCard?.Name" 
    ConfirmText="Delete"
    OnConfirm="DeleteCard" 
    OnCancel="CloseDeleteCardModal" />

<ConfirmDialog 
    Show="_showDeleteWikiPageModal" 
    Title="Delete Wiki Page" 
    Message="Are you sure you want to delete page:"
    ItemName="_deletingWikiPage?.Title" 
    ConfirmText="Delete"
    OnConfirm="DeleteWikiPage" 
    OnCancel="CloseDeleteWikiPageModal" />
